.dash-wrapper{
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
}
.dash-nav{
    display: flex;
    justify-content: space-around;
    align-items: baseline;

}

.dash-nav > h3{
    color: #00CDCD;
    font-weight: bolder;
}




.dash-nav > nav ul{
    list-style-type: none;
    text-decoration: none;
}
.dash-nav > nav ul li{
    display: inline-block;
    padding: 10px;
}

.dash-nav > nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: black;
}


.nav-form > input[type="text"]{
    padding: 12px 7px;
    width: 370px;
    border: 1px solid #753;
    border-radius: 4px;
    margin-left: 24px;

}

.nav-form > input[type="submit"]{
    border: 1px solid #333;
    padding: 12px 16px;
    margin-left:15px;
    border-radius: 4px;
}
.side-nav{
    padding:12px;
    
}

.side-nav > table {
    row-gap: 4px;
    margin:20px 30px;
    width: 250px;
    border-collapse: collapse;
    border-style: hidden;
}

.side-nav > table thead th{
    padding:8px 16px;
    color: #00CDCD;
    text-align: justify;
}

.side-nav > table tbody tr td{
    padding: 15px 16px;
}

.addProject{
    margin:16px 25px;
}

.addProject > input[type="button"] {
    padding: 12px 36px;
    background-color: #00CDCD;
    border-style: none;
    border-radius: 6px;
    color: aliceblue;

}